:root {
    --color-neutral-0: #ffffff;
    --color-neutral-1: #eee4db;
    --color-neutral-2: #d4c3b6;
    --color-neutral-3: #b8a99e;
    --color-neutral-4: #9e8f85;
    --color-neutral-5: #7e6e65;
    --color-neutral-6: #5e4e45;
    --color-neutral-7: #3e2e25;
    --color-neutral-8: #1e0e05;
    --color-neutral-9: #000000;

  
    --color-primary-1: #34815d;
    --color-primary-2: #2c6e4f;
    --color-primary-3: #245c42;

    --color-secondary-1: #ffb300;
}
/* ============================================= */
/* CONFIGURAÇÕES GLOBAIS                         */
/* ============================================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ============================================= */
/* ESTILOS PARA MOBILE (PADRÃO)                  */
/* ============================================= */

header {
    background: var(--color-neutral-1);
    position: sticky;
    top: 0;
    padding: 12px 4%;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 80px;
    height: auto;
}

.btn-mobile {
    display: block;
    background: none;
    border: none;
    color: var(--color-neutral-8);
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 12px;
}

#nav-links {
    display: none;
    list-style: none;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: var(--color-neutral-1);
    left: 0;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#nav-links.show {
    display: flex;
}

#nav-links li {
    text-align: center;
    padding: 0.5rem 0;
}

#nav-links li a {
    color: var(--color-neutral-8);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    display: block;
}

#nav-links li a:hover {
    color: var(--color-primary-1);
}

#container {
    background-image: url('../images/background-mobile.png');
    background-size: contain;
    height: 400vh;
}

.title {
    font-size: 2.5rem;
    color: var(--color-neutral-8);
    text-transform: uppercase;
    font-weight: 600;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 60px;
        height: 4px;
        background-color: var(--color-primary-1);
        display: block;
        border-radius: 30px;
    }
}

a.btn {
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-default {
    background-color: var(--color-primary-1);
    color: var(--color-neutral-0);

    &:hover {
        background-color: var(--color-primary-2);
    }
}

.btn-outlined {
    border: 2px solid var(--color-primary-1);
    color: var(--color-primary-1);
    background-color: transparent;

    &:hover {
        background-color: var(--color-primary-1);
        color: var(--color-neutral-0);
    }
}

#home {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    min-height: calc(100vh - 96px);
    padding: 32px 4%;
    padding-top: clamp(0px, 5vw, 32px);

    .home-image {
        width: clamp(300px, 50%, 400px);
    }

    .home-title {
        color: var(--color-neutral-8);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4.3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 700px;

        span {
            color: var(--color-primary-1);
        }
    }

    .home-description {
        color: var(--color-neutral-9);
        text-align: center;
        font-size: 1rem;
        font-weight: 500;
        max-width: 600px;
    }

    .home-actions {
        display: flex;
        gap: 15px;
        margin-top: 15px;
    }
}

#trending {
    padding: 32px 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    min-height: calc(100vh - 96px);

    .trending-cards {
        .trending-card {
            position: relative;

            img {
                width: clamp(300px, 5vw, 600px);
            }

            .treding-rate {
                background-color: var(--color-neutral-0);
                position: absolute;
                bottom: 70px;
                right: 25px;
                padding: 5px 10px;
                border-radius: 5px;

                i {
                    color: var(--color-secondary-1);
                }
            }
              .treding-card-description {
              display: flex;
              flex-direction: column;
              text-align: center;
              font-size: 1.3rem;
              font-weight: 600;
              color: var(--color-neutral-8);

              span {
                font-size: 1rem;
                font-weight: 500;
                color: var(--color-neutral-7);
              }
}

        }
    }
}

#about {
    padding: 32px 4%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--color-primary-1);
    background-image: url('../images/about/bg-about.png');
    min-height: calc(100vh - 96px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
}


    .title {
        color: var(--color-neutral-0);

        &::before {
            background-color: var(--color-secondary-1);
            
        }
    }
    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .about-image {
            width: clamp(300px, 50vw, 500px);
             }
             .about-info {
                padding: 24px;
                border-radius: 20px;
                background-color: var(--color-primary-2);
                box-shadow:  4px 6px rgba(0, 0, 0, 0.1);

                h3 {
                    color: var(--color-neutral-0);
                    font-size: 1.8rem;
                    margin-bottom: 4px;

                    span {
                        color: var(--color-secondary-1);
                    }
                }
                    p {
                        color: var(--color-neutral-0);
                        font-size: 1rem;

                        span {
                            color: var(--color-secondary-1);
                            font-weight: 600;
                        }
                    }
             }
            
    .about-title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-neutral-0);
    }

    .about-description {
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--color-neutral-0);
        border-radius: 32px;

}


        @media (min-width: 768px) {
            #container {
            background-image: url('../images/background-desktop.png');
            background-size: cover;
            background-position: start;
            background-repeat: no-repeat;


            }
            #trending {
             .trending-cards {
            display: flex ;
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
          
  }

}
}
         }
         @media (min-width: 1200px) {
            #about {
             margin:4%;
             justify-content: center;

             .about-content {
                flex-direction: row;
                align-items: center;
                gap: 48px;
             }
             .about-image{
                order: 1;
             }
             .about-info:first-child {
                order: 2;
             }
             .about-info:last-child {
                order: 3;
             }
            }
        }